<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Massey_SCARA_Controller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Massey_SCARA_Controller.Properties.Settings>
            <setting name="out_Alrt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="out_Rx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="out_Tx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="out_Sys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="air_UP" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="air_DOWN" serializeAs="String">
                <value>U</value>
            </setting>
            <setting name="air_OPEN" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="air_CLOSE" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="air_DELAY_P" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="air_DELAY_G" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="max_W" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="max_X" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="max_Y" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="min_W" serializeAs="String">
                <value>-180</value>
            </setting>
            <setting name="min_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="min_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="window_Height" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="window_Width" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ser_Baud" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="ser_Tim" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="lockout" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="alarm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="spd_Vel" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="spd_Acc" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="conv_For" serializeAs="String">
                <value>FOR</value>
            </setting>
            <setting name="conv_Rev" serializeAs="String">
                <value>REV</value>
            </setting>
            <setting name="conv_Dist" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="seq_Delay" serializeAs="String">
                <value>3000</value>
            </setting>
        </Massey_SCARA_Controller.Properties.Settings>
    </userSettings>
</configuration>